/_*
/override.properties
/.classpath
/.project
/.settings/com.google.gdt.eclipse.core.prefs
/.settings/com.google.gwt.eclipse.core.prefs
/test/net/meisen/dissertation/performance/paper/**/*.tidamodel
/.idea
/.launcher
/.settings
/_data
/dependencies
/docroot
/resources
/target

net-meisen-dissertation-dis-timeintervaldataanalyzer.iml
Veränderungen.txt